* {
  box-sizing: border-box;
}

:root {
  --darkgrey: #aaa;
  --white: #fff;
  --blue-header: #1a3b86;
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
  --green-buttom: #8a9a5b;
  --blue-buttom: #2666cf;
  --red-heart: #ff0000;
}

body {
  font-size: 1.125rem;
  font-family: var(--font-bai-jamjuree);
}

html {
  font-size: 100%;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.header {
  background-color: var(--blue-header);
}

.header img {
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  margin-top: 0rem;
}

.wrapper ul {
  display: flex;
  justify-content: space-evenly;
}

.servicios,
.sectores,
.casos,
.blog,
.contacto {
  padding-left: 3rem;
}

.wrapper li a {
  color: var(--blue-header);
}

.wrapper .servicios:hover,
.wrapper .sectores:hover,
.wrapper .casos:hover {
  font-weight: 800;
  font-size: 1.25rem;
}

.wrapper .blog:hover {
  background-color: var(--white);
  color: var(--green-buttom);
  border: medium solid var(--green-buttom);
  padding: 0.6rem;
  font-weight: 800;
  font-size: 1rem;
}

.wrapper .contacto:hover {
  background-color: var(--white);
  color: var(--blue-buttom);
  border: medium solid var(--blue-buttom);
  padding: 0.6rem;
  font-weight: 800;
  font-size: 1rem;
}

.blog {
  background-color: var(--green-buttom);
  padding: 0.6rem;
}

.contacto {
  background-color: var(--blue-buttom);
  padding: 0.6rem;
}
.wrapper .blog,
.wrapper .contacto {
  color: var(--white);
  font-size: 1rem;
}

.div-2 {
  display: flex;
  justify-content: space-evenly;
}

.div-2-left .intelegia {
  font-size: 3.5rem;
}
.div-2-left p {
  font-size: 2rem;
}

.div-2-list-left {
  border: medium solid var(--darkgrey);
  border-radius: 0.75rem;
  font-size: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.div-2-right {
  font-size: 2rem;
  line-height: 4.7rem;
  margin-top: 2.1rem;
}

.intelegia {
  color: var(--blue-buttom);
}

.list-dot .oncology:hover,
.list-dot .rare-diseases:hover,
.list-dot .gene-therapies:hover,
.list-dot .personalized-medicine:hover {
  font-weight: 800;
  color: darkmagenta;
}

p span:not(#word-spacing, .red-heart) {
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--blue-buttom);
}

.div-3 {
  font-size: 2rem;
  border: medium solid var(--darkgrey);
  border-radius: 0.75rem;
  display: flex;
  margin: 2.1rem 2.1rem;
}

.div-3-left {
  padding-left: 7.5rem;
  text-align: left;
}
.div-3-right {
  margin-right: 8rem;
  justify-items: center;
  align-items: center;
  display: flex;
}

.div-3-right img {
  padding: 0.25rem;
}

.div-4 {
  display: flex;
  font-size: 2rem;
  border: medium solid var(--darkgrey);
  border-radius: 0.75rem;
  margin: 2.1rem 2.1rem;
}

.div-4-left img {
  padding: 0.25rem;
}

.div-4-left {
  margin-left: 7.5rem;
}

.div-4-right {
  padding-left: 2.5rem;
}

.section {
  padding: 2.5rem;
  color: var(--blue-header);
  line-height: 1.5rem;
}
.section strong {
  font-size: 1.1rem;
}

.logo-footer img {
  margin-left: auto;
  margin-right: auto;
}

.section p {
  text-align: justify;
}

.linea {
  border-top: medium solid var(--blue-header);
  height: 2px;
  max-width: auto;
  padding: 0;
  margin: 2.3rem auto 0 auto;
}

.social-media ul {
  display: flex;
  justify-content: center;
}

.instagram,
.facebook,
.work-with-us,
.support-center {
  padding-left: 5rem;
}

.social-media li {
  color: var(--blue-header);
}

.twitter:hover,
.instagram:hover,
.facebook:hover,
.work-with-us:hover,
.support-center:hover {
  font-weight: 800;
  font-size: 1.25rem;
}

.fa-brands.fa-twitter,
.fa-brands.fa-instagram,
.fa-brands.fa-facebook {
  color: var(--blue-header);
}

.copyright {
  color: hsl(209, 6%, 66%);
  text-align: right;
  margin-right: 5rem;
  font-style: italic;
  font-size: 0.75rem;
}

.copyright .red-heart {
  color: var(--red-heart);
}

#word-spacing {
  word-spacing: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .intelegia,
  .div-2-list-left {
    margin-left: 0.5rem;
  }

  .section p {
    text-align: justify;
  }
}

@media screen and (max-width: 740px) {
  .wrapper ul {
    padding-left: 0;
    flex-direction: column;
    text-align: center;
    line-height: 3.125rem;
  }

  .div-2 {
    flex-direction: column;
  }

  .div-3 {
    flex-direction: column;
  }
  .div-3-left {
    padding-left: 1.5rem;
    text-align: left;
  }

  .div-3-right img {
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .div-3-right {
    margin-left: auto;
    margin-right: auto;
  }

  .div-4 {
    flex-direction: column;
  }

  .div-4-right {
    padding-left: 1.5rem;
    text-align: left;
  }

  .div-4-left img {
    margin-bottom: 0.5rem;
    margin: 0 auto;
  }

  .div-4-left {
    margin: 0;
  }

  .section p {
    text-align: justify;
  }

  .social-media ul {
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .twitter,
  .instagram,
  .facebook,
  .work-with-us,
  .support-center {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .blog,
  .contacto {
    padding-left: 0.6rem;
    margin-left: 2.75rem;
  }

  .copyright p {
    margin-left: auto;
    margin-right: auto;
  }
}
